@font-face {
  font-family: bitterRegular;
  src: url(Bitter-Regular.ttf);
}

@font-face {
  font-family: langdonRegular;
  src: url(Langdon.otf);
}

@font-face {
  font-family: bitterItalic;
  src: url(Bitter-Italic.ttf);
}

@font-face {
  font-family: bitterBold;
  src: url(Bitter-Bold.ttf);
}

body {
  height:100%
  padding: 0px;
  margin:0px;
  font-family: bitterRegular;
  font-size:2vmin;
  background-image: url(wall_texture.jpg);
  background-size: cover;
}

html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.mainContainerGrid {
  display: grid;
  grid-template-columns: repeat(8,1fr);

grid-template-areas:
  "nav nav nav nav nav nav nav nav"
  "hero hero hero hero hero hero hero hero"
  "main main main main main main main main"
  "header header header header header header header header"
  "box box box box box box box box"
  "footer footer footer footer footer footer footer footer"
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  grid-area: nav;
  color: black;
  padding: 1.2vw;
  position: fixed;
}
.menuBox{
  display: flex;
  flex-direction: row;
  height: 3vw;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0.3vw;
  /* border-color: #ffd600;
  background-color: rgba(255, 255, 255, 0.5); */
  background-image: url(wall_texture.jpg);
  background-size: cover;
}

.navLink{
  display: flex;
  flex-direction: row;
  padding: 4.9vw;
  font-size: 1.2vw;
}

.navLink a {
  color: black;
}

.navLink a:hover {
  color: #ffd600;
}

.navLink a:link {
  text-decoration: none;
}

.navLink a:visited {
  text-decoration: underline;
}

.logoSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  grid-area: hero;
  grid-column: 1/5;
  background-color: #FFD600;
  padding-top: 3vw;
  margin-top: 6vw;
}

.orderButton{
  text-align: center;
  border-style: solid;
  border-width: 0.3vw;
  border-radius: 3vw;
  padding:1vw;
  font-family: bitterRegular;
  font-size: 2vw;
  margin-top: 3vw;
  width: 15vw;
  background-color: #FFD600;
}

.orderButton a {
  color: black;
}

.orderButton:hover {
  background-color: #e6bf00;
  cursor: pointer;
}

.orderButton a:link {
  text-decoration: none;
}

.foodImage1{
  grid-area: hero;
  grid-column: 5/9;
  background-image: url(R03.JPG);
  background-size: cover;
  height: 35vw;
  background-position: center;
  margin-top: 6vw;
}

.aboutWrapper{
  display: flex;
  grid-area: main;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.aboutSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 1vw;
  margin-right: 1vw;
  margin-left: 1vw;
  padding-left: 18vw;
  padding-right: 18vw;
  text-align: center;
  border-style: solid;
  border-width: 0.3vw;
  border-color: #ffd600;
}

.aboutSection h1{
  font-family: langdonRegular;
  font-size: 6vw;
  margin-bottom: 0;
}

.aboutSection h2{
  font-family: bitterItalic;
  font-size: 2.5vw;
  margin-top: 0;
}

.aboutSection p{
  font-size: 1.3vw;
  line-height: 2vw;
}

mark{
  background-color: #ffd600;
}

.aboutSection p:nth-child(3){
  font-size: 1.6vw;
  line-height: 2vw;
}

.aboutSection a{
  color: #FFD600;
  font-family: bitterBold;
}

.aboutSection a:hover{
  color: #e6bf00;
  cursor: pointer;
}

.homepageOutlet{
  grid-area:header;
  height: 40vw;
  background-image: url(outlet_1.JPG); 
  background-position: center;
  background-size: cover;
  margin-top: 1vw;
}

.pronounceBox {
  grid-column-end: span 6;
  display: grid;
  grid-area:box;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.2vw;
  font-family: bitterRegular;
  font-size: 1.5vw;
}

.pronounceText{
  grid-column: 4/span 4;
  margin-right: 10vw;
  padding-bottom: 1vw;
}

.pronounceText h1{
  font-family: langdonRegular;
  font-size: 3.8vw;
  margin-bottom: 0;
}

.pronounceText h2{
  font-family: bitterItalic;
  font-size: 2.8vw;
  margin-top: 0;
}

.logoThumb{
  grid-column: 1 / span 3;
  margin-left: 8vw;
  margin-top: 5vw;
}

.locationsButton{
  text-align: center;
  border-style: solid;
  border-width: 0.3vw;
  border-radius: 5vw;
  padding:1vw;
  font-family: bitterItalic;
  font-size: 4vw;
  margin-top: 15vw;
  margin-left: 35vw;
  margin-right: 35vw;
  background-color: #FFD600;
}

.locationsButton a {
  color: black;
}

.locationsButton:hover {
  background-color: #e6bf00;
  cursor: pointer;
}

.footerBox{
  grid-area:footer;
  background-color: #ffd600;
}

.footerImage{
  grid-area: footer;
  grid-column: 3/7;
  margin-top: 1vw;
}

.footerText{
  text-align: center;
  font-size: 0.6vw;
  margin-top: 1vw;
}

.footerWhatsapp{
  grid-area:footer;
  grid-column: 8;
  text-align: center;
  padding-top: 2vw;
}
.footerWhatsappText{
  grid-area:footer;
  grid-column: 7/9;
  padding-top: 2.3vw;
  font-size: 1vw;
  padding-left: 3vw;
  font-family: bitterItalic
}

.footerInsta{
  grid-area:footer;
  grid-column: 1;
  margin-top: 2vw;
  margin-left: 3vw;
}

.footerFacebook{
  grid-area:footer;
  grid-column: 2;
  margin-top: 2vw;
}

/*  -- ABOUT PAGE --  */

.fivecolumnContainer{
  grid-area:hero;
  display: flex;
  flex-direction: row;

}

.foodImage{
  display: block;
  width: 100%;

}

.aboutSection1{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-right: 1vw;
  margin-left: 1vw;
  padding-left: 18vw;
  padding-right: 18vw;
  text-align: center;
}

.headingsAbout{
  grid-area: hero;
  position: relative;
  text-align: center;
  margin-top: 10vw;
}

.headingsAbout h1{
  font-family: langdonRegular;
  font-size: 8vw;
  margin-bottom: 0;
  text-shadow: 3px 3px #ffd600;
}

.headingsAbout h2{
  font-family: bitterItalic;
  font-size: 3vw;
  margin-top: 0;
}

.aboutSection1{
  border-style: solid;
  border-color: #ffd600;
  border-width: 0.3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.aboutSection1 p{
  font-size: 1vw;
  line-height: 2vw;
}

.aboutSection1 p:nth-child(1){
  font-size: 1.7vw;
  line-height: 2vw;
  font-family: bitterItalic;

}

.aboutSection1 p:nth-child(6){
  font-family: bitterItalic;
}

.companyAboutBox {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.dividerBox {
  width: 100%;
  background-image: url(wall_texture.jpg);
  background-blend-mode: darken;
  background-color: #ffd600;
  text-align: center;
  font-family: langdonRegular;
  font-size: 3vw;
}

.aboutThumb {
  width: 100%;
  grid-column: 1 / span 3;
}

.aboutText {
  grid-column: 4 / span 4;
  padding-left: 5vw;
  font-size: 1.2vw;
  margin-top: 8vw;
  margin-right: 10vw;
}

.aboutText > h2 {
  margin-top: 0;
  font-family: langdonRegular;
  font-size: 4vw;
}

.aboutThumb2 {
  width: 100%;
  grid-column: 4 / span 4;
}

.aboutText2 {
  grid-column: 1 / span 3;
  padding-left: 5vw;
  font-size: 1.2vw;
  margin-top: 8vw;
  padding-right: 5vw;
}

.aboutText2 > h2 {
  margin-top: 0;
  font-family: langdonRegular;
  font-size: 4vw;
}

.companyAboutBox > p {
  margin: 0;
  padding: 0;
}

.column1Box{
  grid-column: 1/span 3;
  margin-left: 5vw;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  /* position: relative;top: -3vw; */
}

.column1Box h3 {
  margin-top: 0;
  font-family: bitterBold;
  font-size: 2vw;
}

.column1Box p{
  line-height: 2vw;
}

.column2Box{
  grid-column: 4/span 6;
  margin-right: 5vw;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  /* position: relative;top: -3vw; */
}

.column2Box h3 {
  margin-top: 0;
  font-family: bitterBold;
  font-size: 2vw;
}

.column2Box p{
  line-height: 2vw;
}

/* -- LOCATIONS PAGE -- */

.locationsGrid {
  display: grid;
  grid-area:main;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.2vw;
  grid-row-gap: 1.2vw;
  align-items: start;
  /* margin-left: 10vw; */
  /* margin-right: 10vw; */
  margin-top: 2vw;
}

.locationsBox {
  grid-column-end: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.2vw;
  margin-top: 2vw;
}

.locationName {
  font-size: 1vw;
  grid-column: 2 / span 2;
}

.operatingHours {
  grid-column: 4 / span 6;
  padding-left: 5vw;
  font-size: 1.2vw;
  margin-right: 10vw;
}

.locationName > h2 {
  margin-top: 0;
  font-family: langdonRegular;
  font-size: 3vw;
  margin-bottom: 1vw;
  text-decoration: underline;
}

.locationName h2:hover {
  color: #ffd600;
  cursor: pointer;
}

.locationName > p {
  margin: 0;
  padding: 0;
  font-size: 1.2vw;
}

.operatingHours > h2 {
  margin-top: 0;
  font-family: bitterBold;
  font-size: 2vw;
  margin-bottom: 1vw;
}
.operatingHours > p {
  margin: 0;
  padding: 0;
}


.locationsTitle{
  grid-area: hero;
  text-align: center;
  font-family: langdonRegular;
  font-size: 4vw;
  position:relative;top:6vw;
  background-image: url(wall_texture.jpg);
  background-blend-mode: darken;
  background-color: #ffd600;
  margin-bottom: 4vw;

}

.outletImages{
  grid-area:header;
  height: 40vw;
  width: 100%;
  margin-top: 1vw;
}

/* -- CONTACT PAGE --  */


.contactHeading{
  grid-area: hero;
  position: relative;
  text-align: center;
  margin-top: 3vw;
}

.contactHeading h1{
  font-family: langdonRegular;
  font-size: 8vw;
  margin-bottom: 0;
  text-shadow: 3px 3px #ffd600;
}

.contactHeading h2{
  font-family: bitterItalic;
  font-size: 2vw;
}

.contactText{
  grid-area: main;
  font-size: 1.8vw;
  text-align: center;
}

.buttonArea{
  grid-area:header;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom:3vw;

}

.callButton{
  text-align: center;
  border-style: solid;
  border-width: 0.3vw;
  border-radius: 3vw;
  padding:1vw;
  font-family: bitterRegular;
  font-size: 2vw;
  margin-top: 3vw;
  width: 15vw;
  background-color: #FFD600;
  grid-area:header;
  grid-column: 3/4;
  margin-right: 2vw;
}

.callButton a {
  color: black;
}

.callButton:hover {
  background-color: #e6bf00;
  cursor: pointer;
}

.callButton a:link {
  text-decoration: none;
}

.emailButton{
  text-align: center;
  border-style: solid;
  border-width: 0.3vw;
  border-radius: 3vw;
  padding:1vw;
  font-family: bitterRegular;
  font-size: 2vw;
  margin-top: 3vw;
  width: 15vw;
  background-color: #FFD600;
  grid-area:header;
  grid-column: 4/5;
  margin-left: 2vw;
}

.emailButton a {
  color: black;
}

.emailButton:hover {
  background-color: #e6bf00;
  cursor: pointer;
}

.emailButton a:link {
  text-decoration: none;
}
